@model IC_FWOK.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<style>
    .login-header {
        text-align: center;
        font-size: 2em;
        font-weight: bold;
    }

    .login-container {
        background-color: white;
        border-radius: 50px;
        padding: 50px;
        margin: 50px auto;
        max-width: 600px;
    }

    .login-button {
        margin-left: 10px;
        margin-right: 10px;
    }

    .form-group {
        margin-bottom: 20px;
    }
</style>

<div class="login-container">
    <h2 class="login-header">Login</h2>

    <form asp-action="Login" method="post">
        <div class="form-group">
            <label asp-for="Username" class="control-label"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-primary login-button" />
            <a asp-action="Main" asp-controller="Home" class="btn btn-secondary login-button">Skip</a>
        </div>
    </form>

    <div>
        <a asp-action="Register">Don't have an account? Register here</a>
    </div>
</div>
